* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

    *img {
        max-width: 100%;
    }

}
}

nav {
    display: flex;
    justify-content: space-between max- width 1200px;
    margin: auto;
    padding: 12px;
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;

}


ul li a {
    text-decoration: none;
}




.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 40px;
    height: 30px;
}

.logo {
    font-weight: bold;
    font-size: 32px;
}




.common-btn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 1;
}