* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

*img {
    max-width: 100%;
}



nav {
    display: flex;
    justify-content: space-between max- width 1200px;
    margin: auto;
    padding: 12px;
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;

}


ul li a {
    text-decoration: none;
}




.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 40px;
    height: 30px;
}

.logo {
    font-weight: bold;
    font-size: 32px;
}




.common-btn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    background: #fff;
}

.speaker-section {

    text-align: center;
}

.speaker-section h2 {
    text-align: center;

}

.speaker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

.speaker-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px;
    background: rgba(0, 0, 0, 0.1);
}

.speaker-card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;

    .label {
        display: inline-block;
        background: #007bff;
        color: #fff;
        padding: 5px 12px;
        border-radius: 20px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .speaker-card h3 {
        margin: 8px 0 4px;
        font-size: 16px;
    }

    .speaker-card p {
        color: #666;
        font-size: 13px;

    }

    @media (max-width: 768px) {
        .speaker-grid {

            grid-template-columns: 1fr;
        }

    }

    h2 {
        text-align: center;
        width: 100%;
    }